.game {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100vh;
  position: relative;

  .turn-indicator {
    position: absolute;
    bottom: 50px;
    z-index: 1000;
  }
}
